<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>com.priya.admin.AdminLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> AdminLogin</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Upload_DataSheet</servlet-name>
<servlet-class>com.priya.admin.Upload_DataSheet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Upload_DataSheet</servlet-name>
<url-pattern>/Upload_DataSheet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Changepassword</servlet-name>
<servlet-class>com.priya.admin.Changepassword</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Changepassword</servlet-name>
<url-pattern>/Changepassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AmazonS3Example</servlet-name>
<servlet-class>com.priya.service.AmazonS3Example</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AmazonS3Example</servlet-name>
<url-pattern>/AmazonS3Example</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>checkadharcard</servlet-name>
<servlet-class>com.priya.admin.checkadharcard</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>checkadharcard</servlet-name>
<url-pattern>/checkadharcardrequest</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AmazonS3Download</servlet-name>
<servlet-class>com.priya.service.AmazonS3Download</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AmazonS3Download</servlet-name>
<url-pattern>/AmazonS3Download</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>verification</servlet-name>
<servlet-class>com.priya.admin.verification</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>verification</servlet-name>
<url-pattern>/verification</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>sendadharcardrequest</servlet-name>
<servlet-class>com.priya.admin.sendadharcardrequest</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sendadharcardrequest</servlet-name>
<url-pattern>/sendadharcardrequest</url-pattern>
</servlet-mapping>
</web-app>